 .dragger {
    z-index: 999;
    pointer-events: none;
    user-select: none;
    cursor: grabbing;
    height: 70px;
    width: 150px;
  }
  .dragInner {
    pointer-events: none;
    margin-left: 80px;
    border-radius: 5px;
    background: black;
    border: solid 1px #00c5be;
    height: 40px;
    width: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .canvas {
  background:
   repeating-linear-gradient(
     transparent,transparent 20px, #86dffa 22px
   ),
   repeating-linear-gradient(
     90deg,
     transparent,transparent 20px, #86dffa 22px
   );
 }

 .node {
    opacity: 0;
 }

 .port {
  
 }

 .block {
  cursor: grab;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  user-select: none;
 }

 .startElement {
   border: 1px solid grey;
   border-radius: 50%;
   background: rgb(97, 248, 97);
   height: 100px;
   width: 100px;
 }

 .desicionElement {
  border: 1px solid grey;
  background: rgb(221, 221, 122);
  transform: translateX(50px) rotate(45deg);
  height: 80px;
  width: 80px;
  }

  .desicionBlockElement {
    border: 1px solid grey;
    background: rgb(221, 221, 122);
    transform: translateX(0px) rotate(45deg);
    height: 100px;
    width: 100px;
    }

 .phaseElement {
  border: 1px solid grey;
  background: rgb(247, 247, 181);
  height: 100px;
  width: 100px;
 }

