 .dragger {
    z-index: 999;
    pointer-events: none;
    user-select: none;
    cursor: grabbing;
    height: 70px;
    width: 150px;
  }
  .dragInner {
    pointer-events: none;
    margin-left: 80px;
    border-radius: 5px;
    background: black;
    border: solid 1px #00c5be;
    height: 40px;
    width: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .canvas {
    background:
    repeating-linear-gradient(
      transparent,transparent 20px, #86dffa 22px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,transparent 20px, #86dffa 22px
    );
 }

 .node {
    opacity: 0;
 }

 .edge {
  font-size: large;
  background: dodgerblue;
 }

 .block {
  cursor: grab;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  user-select: none;
  box-shadow: -9px 11px 7px 4px rgba(34, 60, 80, 0.34);
 }

 .block:hover {
  background: dodgerblue;
  box-shadow: -9px 11px 7px -5px rgba(34, 60, 80, 0.34);
 }

 .element {
  padding: 8px;
  text-align: 'center';
 }

 .startElement {
   border: 1px solid grey;
   border-radius: 50%;
   background: rgb(97, 248, 97);
   height: 50px;
   width: 50px;
   font-size: 10px;
   text-align: center;
   box-shadow: -3px 4px 8px 0px rgba(34, 60, 80, 0.2);
 }

 .startBlockElement {
  border: 1px solid grey;
  border-radius: 50%;
  background: rgb(97, 248, 97);
  height: 90px;
  width: 90px;
}

.endElement {
  border: 1px solid grey;
  border-radius: 50%;
  background: rgb(208, 108, 255);
  height: 50px;
  width: 50px;
  font-size: 10px;
  text-align: center;
}

.endBlockElement {
 border: 1px solid grey;
 border-radius: 50%;
 background: rgb(208, 108, 255);
 height: 90px;
 width: 90px;
}

 .desicionElement {
  border: 1px solid grey;
  background: rgb(221, 221, 122);
  transform: translateX(35px) rotate(45deg);
  height: 55px;
  width: 55px;
  font-size: 7px;
  padding: 10px;
  text-align: center;
  }

  .desicionElementText {
    transform: rotate(-45deg);
}

  .desicionBlockElement {
    border: 1px solid grey;
    background: rgb(221, 221, 122);
    transform: translateX(0px) rotate(45deg);
    height:90px;
    width:90px;
}

 .phaseElement {
    border: 1px solid grey;
    background: rgb(247, 247, 181);
    height: 70px;
    width: 70px;
    font-size: 7px;
    padding: 10px;
    text-align: center;
 }
 .phaseBlockElement {
  border: 1px solid grey;
  background: rgb(247, 247, 181);
  height: 90px;
  width: 90px;
 }

 .subWorkflowElement {
  border: 1px solid grey;
  background: rgb(102, 102, 73);
  font-size: 9px;
  width: 250px;
  padding: 0px;
  text-align: center;
 }

 .subWorkflowBlockElement {
  border: 1px solid grey;
  background: rgb(102, 102, 73);
  height: 90px;
  width: 90px;
  text-align: center;
}


