 .dragger {
    z-index: 999;
    pointer-events: none;
    user-select: none;
    cursor: grabbing;
    height: 70px;
    width: 150px;
  }
  .dragInner {
    pointer-events: none;
    margin-left: 80px;
    border-radius: 5px;
    background: black;
    border: solid 1px #00c5be;
    height: 40px;
    width: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .canvas {
    background:
    repeating-linear-gradient(
      transparent,transparent 20px, #86dffa 22px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,transparent 20px, #86dffa 22px
    );
 }

 .edge {
  font-size: large;
  background: dodgerblue;
  width: 10px;
 }

 .node {
  opacity: 0;
}

 .element {
  display: flex;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
 }
.startElement {
   border-radius: 50%;
   background: rgb(97, 248, 97);
   height: 70px;
   width: 70px;
 }
 .endElement {
  border-radius: 50%;
  background: rgb(208, 108, 255);
  height: 70px;
  width: 70px;
}
.phaseElement {
  background: rgb(247, 247, 181);
  height: 100px;
  width: 100px;
}
.desicionElement {
  background: rgb(221, 221, 122);
  transform: translateX(50px) rotate(45deg);
  height: 75px;
  width: 75px;
}
.subWorkflowElement {
  background: rgb(145, 145, 105);
}

.desicionElementText {
  transform: translateX(-15px) rotate(-45deg);
}

.checked {
  border: 3px solid coral;
  box-shadow: -9px 11px 7px 0px rgba(253, 71, 15, 0.34);
}

.hover{
  border: 3px solid rgb(1, 64, 105);
}


