.app {
  display: flex;
  flex-direction: column;
  height:100vh;
  background: #caedf8;
}

.topPageComponent {
  display: flex;
  border: 1px solid #eeeeee;
  height: 100px;
  padding: 20px;
}

.bottomPageComponent {
  display: flex;
  flex: 1 0 auto;
  border: 1px solid #eeeeee;
}

.propertiesComponent {
  display: flex;
  flex-direction: column;
  width: 230px;
  border: 1px solid #eeeeee;
  padding: 20px;
  align-items: center;
}

.saveProperties {
  margin-top: 15px;
  align-content: center;
}

.mainCanvasComponent {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 auto;
  border: 1px solid #eeeeee;
}

.leftCanvas {
  border: 1px solid #eeeeee;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.blocks_leftCanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoom_leftCanvas {}

.middleCanvas {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 20px;
  }